@charset "UTF-8";

/* 质量开具项系统样式 */

body{
	font-family:'华文细黑';
	padding-bottom:70px;
}

hr{
	border-top:1px solid #c1c1c1;	
}

.container{
	width:98%;
}

.navbar{
	min-height:1px ! important;
}

/* 覆盖bootstrap的样式，仍然采用原有的bootstrap的类名 */
.nav-tabs{
	height:42px;
	border-bottom:1px solid #188ae2;
}

.nav-tabs>li>a{
	border-radius:0px;
	color:#223a5e;
}

.nav-tabs>li>a:hover{
	background-color:#188ae2;
	color:#f1f1f1;
}


.pagination>li>a, .pagination>li>span{
	float:none;
	border:0px;
	border-radius:0px;
	color:#333;
	font-family:"华文细黑";
}

.pagination>li>a:focus, .pagination>li>a:hover, .pagination>li>span:focus, .pagination>li>span:hover{
	border-radius:0px;
}

.btn-file{
	background-color:#188ae2;
	color:#f1f1f1;
}

/* 新的样式 */
#unconfirmedNewNcrUpload{
	border-radius:0px;
}

/* 几个表格的样式 */
.TXTableContainer{
	width:98%;
	overflow:auto;
}
#userLogTable{
	height:600px;
}
#userInfoTable{
	height:510px;
}
#historyNcrTable{
	height:460px;
}
#validCheckTable{
	height:470px
}
#newNcrUnpassedTable{
	height:412px;
}
#newNcrUnconfirmedTable,#executingTable,#newNcrUnreplyedTable,#unconfirmedTable{
	height:400px;
}

.TXPage-title{
	font-family:"微软雅黑";
	font-weight:500;
	font-size:16px;
	color:#223a5e;
}

.TXBusinessBTN{
	border-radius:0px;
	border:0px;
}

.TXBusiness-AssistBTN{
	border-radius:0px;
	border:1px #f1f1f1 solid;
}

.TXUserOperationBTN{
	border-radius:0px;
	border:0px;
}

.TXWell{
	border:0px;
	border-radius:0px;
}

.TXBTNArea{
	margin-bottom:1px;
}

.TXPage-searchlabel{
	font-weight:400;
}

.TXPage-searchCombo{
	height:auto;
	border:1px #dfdfdf solid;
	border-radius:0px;
}

.TXPage-searchSelect{
	height:auto;
	border:1px #dfdfdf solid;
	border-radius:0px;
	-webkit-appearance:none;
	background:url('/TBNCRMS/imgs/down.png')no-repeat right center;
}

.TXPage-searchInput{
	width:260px;
	padding:6px 6px;
	height:auto;
	border:1px #dfdfdf solid;
	border-radius:0px;
}

.TXCheckBox{
	zoom:120%;
	margin-top:10px;
}

.TXCheckBoxContents{
	font-family:"华文细黑";
	color:#223a5e;
	font-weight:200;
}

.TXPageSearchCancel-BTN{
	font-family:"微软雅黑";
	color:#223a5e;
	background-color:none;
	border:1px #223a5e solid;
	border-radius:0px;
	float:right;
}

.TXPageSearch-BTN{
	font-family:"微软雅黑";
	color:#f1f1f1;
	background-color:#223a5e;
	border:1px #223a5e solid;
	border-radius:0px;
	float:right;
}

.TXModal{
	border-radius:0px;
	border:1px;
	border-image:-webkit-linear-gradient(#188ae2, #701D68) 30 30;
	border-image:-moz-linear-gradient(#188ae2, #701D68) 30 30;
	border-image:linear-gradient(#188ae2, #701D68) 30 30;
}

.TXModalTitle{
	font-family:"微软雅黑";
	font-size:20px;
	font-weight:800;
	display:inline-block;
	color:#188ae2;
/* 	background-image:-webkit-gradient(linear, 0 0, 0 bottom, from(#188ae2), to(#701D68)); */
/* 	-webkit-background-clip:text; */
/* 	-webkit-text-fill-color:transparent; */
}
.TXModalHeadLine{
	border-bottom:1px #223a5e solid;
}
.TXModalFootLine{
	border-top:1px #701D68 solid;
}

.TXModalLabel{
	margin-top:6px;
	font-family:"华文细黑";
	font-size:16px;
	font-weight:500;
}
.TXModalLabelWarning{
	margin-top:6px;
	font-family:"华文细黑";
	font-size:16px;
	font-weight:500;
	background-color:#e01f54;
	color:#f1f1f1;
}

.TXModalLabelWizard{
	margin-top:6px;
	font-family:"华文细黑";
	font-size:16px;
	font-weight:500;
	background-color:#48a7ec;
	color:#f1f1f1;
}

.TXModalCombo,.TXUpload,.kv-fileinput-caption,.btn-file{
	border-radius:0px;
}
.TXModalSelect{
	border-radius:0px;
	-webkit-appearance:none;
	background:url('/TBNCRMS/imgs/down.png')no-repeat right center;
}

.TXNecessaryItem{
	color:red;
	font-size:18px;
}

.TXModalContents{
	margin-top:7px;
	color:#188ae2;
	font-family:"华文细黑";
	font-size:16px;
	font-weight:500;
}

.TXModalBTNCancel{
	border-radius:0px;
}

.TXModalBTNSubmit{
	border-radius:0px;
	background-color:green;
	color:#f1f1f1;
}

.TXModalBTNBusiness{
	border-radius:0px;
	color:#333;
}

.TXDownloadLink,.TXDownloadLink:hover{
	text-decoration:none;
	font-family:"华文细黑";
	color:#188ae2;
}

.TXBlank{
	float:right;
}

.TXTableIcon-plus{
	color:#188ae2;
	font-size:14px;
}

.TXTableIcon-flag{
	color:#E01F54;
	font-size:14px;
}

.TXModalContentsSpecial{
	text-align:center;
}

.TXModalContentsSpecialtitle{
	font-family:"微软雅黑";
	font-size:20px;
	color:#188ae2;
	text-align:center;
}

.TXModalContentsSpecialcontent{
	font-family:"华文细黑";
	font-size:14px;
	font-weight:300;
	text-align:center;
}

#TBNCRMSFootContent{
	text-align:center;
	color:#188ae2! important;
}

.TBNCRMSFootTitle{
	background-color:#333 ! important;
	border-top:1px #c1c1c1 solid ! important;
}

.TBNCRMSHeadTitle{
	background-color:#333 ! important;
	border-bottom:1px #c1c1c1 solid ! important;
}

#TBNCRMainTitle{
	font-family:"华文细黑" ! important;
	color:#ddd;
	font-size:22px ! important;
}

.pagination-txSelect{
	width:40px;
	-webkit-appearance:none;
	background:url('/TBNCRMS/imgs/down.png')no-repeat right center;
}

#TXWelcome,#TXWelcomeDate{
	color:#eee;
}
#TXExit{
	color:#f1f1f1;
	background-color:#223a5e;
}
#TXExit:hover{
	background-color:#188ae2;
}